<div class="card">
  <header>
    <label (click)="favoriteCard()" [ngClass]="{'--favorite': cardIsFavorite  }">
      <input type="checkbox" [formControl]="checkbox">
      <img src="../../../assets/icons/star.svg" alt="Star icon">
      <span class="tooltip --visibility">
        Bookmark item
      </span>
    </label>
    <img src="../../../assets/icons/vertical-menu.svg" alt="Card menu">
  </header>
  <div class="content">
    <span class="document-status" [ngClass]="currentCardStatus">
      <img src="../../../assets/icons/document.svg" alt="Document icon">
    </span>
    <div class="card-main-content">
      <label>Information Security</label>
      <p>Cybersecurity and Computing Resources</p>
    </div>
  </div>
  <footer>
    Version 2.0, 30 Jan 2018
  </footer>
</div>
