<header>
  <div class="logo">
    <span>
      M7
    </span>
  </div>
  <nav>
    <div class="breadcrumb">
      <span>
        Policies and Documents
      </span>
      <span class="breadcrumb-arrow">
        <img src="../../../assets/icons/arrow-down.svg" alt="Arrow icon">
      </span>
      <span>
        Policy Portal
      </span>
    </div>
    <div class="menu-options">
      <span class="search">
        <img src="../../../assets/icons/search.svg" alt="Search icon">
      </span>
      <span class="schedule">
        <img src="../../../assets/icons/calendar.svg" alt="Calendar icon">
      </span>
      <span class="notifications">
        <img src="../../../assets/icons/notifications.svg" alt="Notifications icon">
      </span>
      <span class="user-profile">
        <img src="../../../assets/icons/user.svg" alt="User icon">
      </span>
    </div>
  </nav>
</header>
