:host {
  display: block;

  .content {
    display: none;
    padding: 2rem 0 3.5rem;

    &.--selected {
      flex: 1;
      row-gap: 2rem;
      justify-content: space-between;
      flex-direction: column;
      display: flex;
    }
  }
}
