<div class="container">
  <m-header></m-header>
  <div class="policy-container">
    <div class="policy-content">
      <header>
        <h1>Policy Portal</h1>
        <m-input></m-input>
      </header>
      <m-tab>
        <m-tab-item title="ALL">
          <m-cards-container name="Bookmarked">
            <m-card></m-card>
            <m-card></m-card>
            <m-card></m-card>
          </m-cards-container>
          <m-cards-container name="Pending">
            <m-card status="danger"></m-card>
            <m-card status="danger"></m-card>
            <m-card></m-card>
            <m-card></m-card>
          </m-cards-container>
          <m-cards-container name="Attested">
            <m-card status="success"></m-card>
            <m-card status="success"></m-card>
          </m-cards-container>
        </m-tab-item>
        <!-- <m-tab-i tem title="PENDING"></m-tab-i> -->
        <!-- <m-tab-item title="ATTESTED"></m-tab-item> -->
      </m-tab>
    </div>
  </div>

</div>
