<ng-template #pending>
  <m-card status="danger"></m-card>
  <m-card status="danger"></m-card>
  <m-card></m-card>
  <m-card></m-card>
  <m-card></m-card>
  <m-card></m-card>
  <m-card></m-card>
</ng-template>

<ng-template #attested>
  <m-card status="success"></m-card>
  <m-card status="success"></m-card>
  <m-card status="success"></m-card>
  <m-card status="success"></m-card>
  <m-card status="success"></m-card>
</ng-template>

<ng-template #bookmarked>
  <m-card></m-card>
  <m-card></m-card>
  <m-card></m-card>
  <m-card></m-card>
  <m-card></m-card>
</ng-template>


<div class="container">
  <m-header></m-header>
  <div class="policy-container">
    <div class="policy-content">
      <header>
        <h1>Policy Portal</h1>
        <m-input></m-input>
      </header>
      <m-tab (changeLayout)="changeCardsLayout($event)">
        <m-tab-item title="ALL">
          <m-cards-container name="Bookmarked" [cardsLayout]="currentLayout">
            <ng-container [ngTemplateOutlet]="bookmarked"></ng-container>
          </m-cards-container>

          <m-cards-container name="Pending" [cardsLayout]="currentLayout">
            <ng-container [ngTemplateOutlet]="pending"></ng-container>
          </m-cards-container>

          <m-cards-container name="Attested" [cardsLayout]="currentLayout">
            <ng-container [ngTemplateOutlet]="attested"></ng-container>
          </m-cards-container>
        </m-tab-item>


        <m-tab-item title="PENDING">
          <m-cards-container name="Pending" [cardsLayout]="currentLayout">
            <ng-container [ngTemplateOutlet]="pending"></ng-container>
          </m-cards-container>
        </m-tab-item>

        <m-tab-item title="ATTESTED">
          <m-cards-container name="Attested" [cardsLayout]="currentLayout">
            <ng-container [ngTemplateOutlet]="attested"></ng-container>
          </m-cards-container>
        </m-tab-item>
      </m-tab>
    </div>
  </div>
</div>
