@use "../utils/utils.scss" as utils;

.container {
  background-color: utils.$very-light-gray;
  min-height: 100vh;
  width: 100%;

  m-header {
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  .policy-container {
    // min-height: calc(100vh - 10vh);
    padding-top: 8rem;
    overflow-x: hidden;
    .policy-content {
      max-width: 79%;
      margin: 0 auto;

      header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 300;
          font-size: 2.5rem;
          color: utils.$title;
        }
      }

      m-tab {
        margin-top: 2rem;
      }
    }
  }
}
