<div class="container">
  <m-header></m-header>
  <div class="policy-container">
    <div class="policy-content">
      <header>
        <h1>Policy Portal</h1>
        <m-input></m-input>
      </header>
      <m-tab (changeLayout)="changeCardsLayout($event)">
        <m-tab-item title="ALL">
          <m-cards-container name="Bookmarked" [cardsLayout]="currentLayout"
            *ngIf="(cardsData.bookmark | async)?.length > 0" [cards]="cardsData.bookmark | async">
          </m-cards-container>

          <m-cards-container name="Pending" [cardsLayout]="currentLayout"
            *ngIf="(cardsData.pending | async)?.length > 0" [cards]="cardsData.pending | async">
          </m-cards-container>

          <m-cards-container name="Attested" [cardsLayout]="currentLayout"
            *ngIf="(cardsData.attested | async)?.length > 0" [cards]="cardsData.attested | async">
          </m-cards-container>
        </m-tab-item>


        <m-tab-item title="PENDING">
          <m-cards-container name="Pending" [cardsLayout]="currentLayout"
            *ngIf="(cardsData.pending | async)?.length > 0" [cards]="cardsData.pending | async">
          </m-cards-container>
        </m-tab-item>

        <m-tab-item title="ATTESTED">
          <m-cards-container name="Attested" [cardsLayout]="currentLayout"
            *ngIf="(cardsData.attested | async)?.length > 0" [cards]="cardsData.attested | async">
          </m-cards-container>
        </m-tab-item>
      </m-tab>
    </div>
  </div>
</div>
