@use "../../../utils/utils.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .tabs-container {
    display: flex;
    border-bottom: 1px solid rgb(228, 228, 228);

    ul {
      list-style: none;
      display: flex;
      width: 100%;
      column-gap: 2rem;

      li {
        padding: 0.6rem 0;
        color: utils.$gray;
        cursor: pointer;
        transition: 0.5s ease;
        border-bottom: 2px solid transparent;

        &.--selected {
          color: utils.$blue;
          font-weight: 500;

          border-color: utils.$blue;
        }

        &:hover:not(.--selected) {
          filter: brightness(0.8);
        }
      }
    }

    .tab-view-options {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;

      label {
        height: auto;
        transform: scale(0.8);
        display: block;
        cursor: pointer;

        input[type="radio"] {
          display: none;
          &:checked + img {
            filter: saturate(25) brightness(0.8) hue-rotate(25deg);
          }
        }

        &:last-child {
          transform: translateY(-0.02rem) scale(0.8);
        }
      }
    }
  }
}
