<ng-template #tabHeader>
  <div class="tabs-container">
    <ul>
      <li *ngFor="let tab of tabs" (click)="selectTab(tab)" [ngClass]="{'--selected': tab.tabIsSelected}">
        {{tab.title}}
      </li>
    </ul>
    <div class="tab-view-options">
      <label for="grid-view">
        <input type="radio" id="grid-view" name="view-type" checked>
        <img src="../../../assets/icons/grid4x4.svg" alt="Grid4x4 icon">
      </label>
      <label for="list-view">
        <input type="radio" id="list-view" name="view-type">
        <img src="../../../assets/icons/menu.svg" alt="List icon">
      </label>
    </div>
  </div>
</ng-template>

<ng-container [ngTemplateOutlet]="tabHeader"></ng-container>

<ng-content></ng-content>
